<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <span class="icon-container icon-container--dark">
      <svg class="icon icon--white collapsible__menu">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </span>
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis optio
    odit alias. Expedita repellendus repellat quisquam sed commodi, rerum
    quibusdam.
  </div>
</div>
